<%- include("partials/header_web.ejs") %>

<section class="main-container fluid-container justify-content-center d-flex">
    <div class="createPost-container fluid-container col-10 col-md-8 container">
        <h2>Crear nuevo post</h2>
        <form action="/submit-createPost" method="post" enctype="multipart/form-data">
            <label for="postTitulo" class="form-label">Titulo del post:</label>
            <input type="text" class="form-control mb-3" name="postTitulo" placeholder="Escriba el titulo para el post" required>

            <label for="postImagen" class="form-label">Subir imagen de portada:</label>
            <input type="file" class="form-control mb-3" name="postImagen" accept="image/*" required>

            <label for="postContenido" class="form-label">Contenido:</label>
            <textarea rows="15" id="inputContenido" class="form-control mb-3" name="postContenido" placeholder="Escriba aquí el cuerpo del blog..." required></textarea>

            
            <div class="row justify-content-center">
                <button class="btn" type="submit">Publicar</button>
            </div>
        </form>
    </div>
</section>

<link rel="stylesheet" href="/styles/createPostStyles.css">